body {
    background-color: red #ff0000;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 40px;
}

section {
    max-width: 800px;
    margin: 40px auto;
}